<nav class="topbar">
    <!-- <img class="logo" src="img/logos/logo_main.svg"></img> -->
    <a href="/"><img class="logo" src="../img/logos/logov2.svg"></a>
    <div class="exhb-info">
      <h2 id="touchExhbPop" class="label">Exhibition</h2>
      <div class="pop-box">
        <span id="closeExhb">x</span>
        <h1>We invite you to our Exhibition!</h1>
        <p>Here's a short description about what this exhibition is about, and why user should go to it.</p>
        <h3>Date</h3>
        <p>May 30th, 2019</p>
        <h3>Location</h3>
        <p>3 Lower Jarvis St.</p>
      </div>
    </div>
</nav>