<nav class="topbar">
    <img class="logo" src="img/logos/logo_main.svg"></img>
    <div class="exhb-info">
      <h2 class="label">Exhibition</h2>
      <div class="pop-box">
        <span id="closeExhb">x</span>
        <h2>We inivite you to the Exhibition!</h2>
        <h4>Date</h4>
        <h3>May 30th, 2019</h3>
      </div>
    </div>
</nav>