<section class="project-pop">
    <div class="close"><span>&times;</span></div>
    <div class="content">
        <img src="img/projects/boost/logo.svg" alt="boost logo">
        <h1>Boost</h1>
        <h3>Description</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit provident esse eum incidunt temporibus quos numquam perspiciatis tempore iste veritatis totam, veniam modi corrupti debitis aliquid dignissimos quia ipsum quam?</p>
        <div class="gallery">
            <img src="img/projects/boost/img/img1.jpg" alt="gallery image">
            <img src="img/projects/boost/img/img1.jpg" alt="gallery image"> 
            <img src="img/projects/boost/img/img1.jpg" alt="gallery image">       
        </div>
    </div>
</section>