<div id="sidebar" class="sidebar">
    <div class="inner-sidebar">
        <img id="closeSide" class="logo invert" src="../img/logos/logov3-icon.svg">
        <ul class="options">
            <li><span><a href="/">Home</a></span></li>
        </ul>
        <h6>Projects</h6>
        <ul class="options">
            <li><span data-proj-id="102" class="projectSelect">Meliorise</span></li>
            <li><span data-proj-id="103" class="projectSelect">InPlace</span></li>
            <li><span data-proj-id="101" class="projectSelect">Boost</span></li>
            <li><span data-proj-id="104" class="projectSelect">Exhibition</span></li>
        </ul>
        <h6>About</h6>
        <ul class="options">
            <li><span><a href="http://institutewithoutboundaries.ca/" target="_blank">IwB</a></span></li>
            <li><span><a href="https://www.affordnation.ca/" target="_blank">Afford Nation</a></span></li>
        </ul>
    </div>
</div>