<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="theme-color" content="#111214"/>
    
    <meta property="og:url" content="http://www.perspectivesonaffordability.ca" />
    <meta property="og:title" content="Perspective on Affordability" />
    <meta property="og:description" content="What's your perspective?" />
    <meta property="og:image" content="http://www.perspectivesonaffordability.ca/img/art/share-out.jpg" />
    
    <title>Perspectives</title>
    <link rel="icon" href="img/favicon-g.png">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://webfonts.fontstand.com/WF-041270-bf70edc6c07f43e2bf7a68fa5d6c904f.css" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body id="body">
    
    <%- include partials/nav.ejs %>
    <%- include partials/sidebar.ejs %>
    <section id="projectPop" class="project-pop"></section>
    
    <main class="landing">
      <div class="inner-landing">
        <section class="hero">
            
            <h1>There are many perspectives on affordability.<br>What's yours?</h1>
            <div class="start-quiz">
                <a href="/quiz"><button type="button" class="button square">Start Quiz</button></a>
                <a href="/quiz"><button type="button" class="button large coloured">Start Quiz</button></a>
            </div>
        </section>
      </div>
    </main>
    
    <script src="js/main.js" charset="utf-8"></script>
  </body>
</html>
