<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>Affordability Quiz</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body id="body">
    
    <%- include partials/nav.ejs %>
    <%- include partials/exhb.ejs %>
    <section id="projectPop" class="project-pop"></section>
    
    <main class="landing">
      
      <section class="hero">
        
        <h1>Affordability</h1>
        <h3>This is subtitle</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel a cumque dicta nisi, ea quos et quae quaerat consectetur quidem. Fugiat cum expedita veniam quasi nobis quis molestias nostrum explicabo.</p>
        
        <a href="/quiz"><button class="button">Start Quiz</button></a>
      </section>
      
      <section class="title-header">
        <h1>Our Projects</h1>
        <p>We have three key projects that each tackle a diverse section of affordability.</p>
      </section>
    
      <section id="projectView" class="projects">
        <div class="length-indicator"></div>
      </section>
      
      <section class="more-info">
        <h1>The Book</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate consectetur aliquam, laudantium nostrum iure recusandae.</p>
        <button class="button text">Link to it</button>
        <h1>The Exhibition</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate consectetur aliquam, laudantium.</p>
        <h3>Date</h3>
        <p>May 30th, 2019</p>
        <h3>Location</h3>
        <p>3 Lower Jarvis St.</p>
        <h1>More About Us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate consectetur aliquam, laudantium nostrum iure recusandae fugiat tempora repellendus debitis rerum ea esse, quisquam porro obcaecati sit delectus reiciendis id odio.</p>
      </section>
      
      <footer>
        <img class="logo" src="img/logos/logo_main.svg" alt="logo here">
        <div>
            <div class="share">
                <h3 class="coloured">Connect</h3>
                <a href="https://www.facebook.com" target="_blank"><button class="button text">Facebook</button></a>
                <span>/</span>
                <a target="_blank" href="https://twitter.com/"><button class="button text">Twitter</button></a>
              </div>
        </div>
        
      </footer>
      
    </main>
    
    <script src="js/main.js" charset="utf-8"></script>
  </body>
</html>
