<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Affordability Quiz</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <a data-cursor-info="link" class="make-pointer" href="javascript:">Link</a>
    
    <div id="slider" class="slide-answer">
      <h2 id="yes">Yes</h2>
      
      <div class="trail">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      
      <div id="sliderGrab" data-cursor-info="slider" class="slider make-pointer">
        <span>< ></span>
      </div>
      
      <div class="trail">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      
      <h2 id="no">No</h2>
    </div>
    
    <div class="custom-cursor"><div class="inner-cursor"></div></div>
    <script src="js/main.js" charset="utf-8"></script>
  </body>
</html>
