<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="theme-color" content="#111214"/>
    <title>Perspectives</title>
    <link rel="icon" href="img/favicon-g.png">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body id="body">
    
    <%- include partials/nav.ejs %>
    <%- include partials/exhb.ejs %>
    <%- include partials/sidebar.ejs %>
    <section id="projectPop" class="project-pop"></section>
    
    <main class="landing">
      <div class="inner-landing">
        <section class="hero">
            
            <img src="img/logos/logov3.svg">
            <img class="bottom-cut" src="img/art/landing-hero.svg">
            <p class="tagline">Affordability is more than money, and our society places value in the wrong areas. This leave us with fewer options, and creates false choices for people. Where do you stand?</p>
            <div class="start-quiz">
                <a href="/quiz"><button type="button" class="button large coloured">Start Quiz &#x279E;</button></a>   
            </div>
            <button data-proj-id="105" type="button" class="button large text projectSelect">About</button>
        </section>
        
        <!-- <section class="gallery">
            <div class="inner-gallery">
                <div class="module"></div>
                <div class="module"></div>
                <div class="module"></div>
                <div class="module"></div>
                <div class="module"></div>
            </div>
        </section> -->
      </div>
    </main>
    
    <script src="js/main.js" charset="utf-8"></script>
  </body>
</html>
