<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="theme-color" content="#111214"/>
    
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Perspectives on Affordability" />
    <meta name="twitter:image" content="http://www.perspectivesonaffordability.ca/img/art/test.jpg" />
    <meta name="twitter:image:alt" content="Graphic showing all three perspective outcomes." />
    
    <meta property="og:url" content="http://www.perspectivesonaffordability.ca" />
    <meta property="og:title" content="Perspective on Affordability" />
    <meta property="og:description" content="What's your perspective?" />
    <meta property="og:image" content="http://www.perspectivesonaffordability.ca/img/art/test.jpg" />
    
    <title>Perspectives | Shared</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="icon" href="img/favicon-g.png">
    <link rel="stylesheet" href="https://webfonts.fontstand.com/WF-041270-bf70edc6c07f43e2bf7a68fa5d6c904f.css" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body id="body">
      
    <script>
      var typeData = <%- JSON.stringify(type) %>;
    </script>
    
    <%- include partials/nav.ejs %>
    <%- include partials/sidebar.ejs %>
    <section id="projectPop" class="project-pop"></section>
    
    <div class="outer-outcomes">
        <main class="share-outcomes final">
            <section class="results">
                <div class="outcome">
                    <div id="shareOut" class="hero">
                    </div>
                    
                </div>
            </section>
            <section class="new">
                <div class="out">
                    <h1>What are you?</h1>
                    <a href="/quiz"><button class="button large coloured">Take Quiz</button></a>
                </div>
            </section>
        </main>
    </div>
    <script src="../js/main.js" charset="utf-8"></script>
  </body>
</html>
