<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="theme-color" content="#111214"/>
    
    <title>Perspectives | Quiz</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body id="body">
    
    <%- include partials/nav.ejs %>
    <%- include partials/sidebar.ejs %>
    <section id="projectPop" class="project-pop"></section>
    
    <main id="main" class="quiz stage-question">
        
        <section class="question">
          <div class="timeline">
            <div class="base-line">
                <div class="marker">
                  <span id="markerCounter">x/10</span>
                </div>
                <div class="prog-line"></div>
            </div>
          </div>
          <div class="info" id="questionView">
            
          </div>
        </section>
        
        <section class="answers">
          <div class="buttons">
              <button data-answer="1" class="button answer answerBtns">Yes</button>
              <button data-answer="0" class="button answer answerBtns">No</button>
          </div>
          
          <div class="next">
            <h1 id="answerLabel" class="answer-label">Yes</h1>
            <button id="nextBtn" class="button coloured">Next</button>
          </div>
          
          <div id="slider" class="slide-answer">
              <h2 id="no">No</h2>
              
              <div class="trail">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
              
              <div id="sliderGrab" class="slider">
                <span>< ></span>
              </div>
              
              <div class="trail">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
              
              <h2 id="yes">Yes</h2>
          </div>
          
        </section>
        
    </main>
    
    <script src="js/main.js" charset="utf-8"></script>
  </body>
</html>
