<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>Affordability Quiz</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    
    <%- include partials/nav.ejs %>
    
    <main class="quiz">
        
        <section class="question">
            <div class="info">
                <h4>Question</h4>
                <h1>Why do questions have question marks at the end?</h1>
            </div>
            <div class="timeline"></div>
        </section>
        
        <section class="answers">
            <button class="button answer">Yes</button>
            <button class="button answer">No</button>
        </section>
        
        <!-- <div id="slider" class="slide-answer dark">
            <h2 id="no">No</h2>
            
            <div class="trail">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            
            <div id="sliderGrab" data-cursor-info="slider" class="slider make-pointer">
              <span>< ></span>
            </div>
            
            <div class="trail">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            
            <h2 id="yes">Yes</h2>
        </div> -->
      
    </main>
    
    <script src="js/main.js" charset="utf-8"></script>
  </body>
</html>
