<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>Affordability Quiz</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body id="body">
    
    <%- include partials/nav.ejs %>
    <%- include partials/exhb.ejs %>
    <section id="projectPop" class="project-pop"></section>
    
    <main id="main" class="quiz stage-question">
    <!-- <main class="final"> -->
        
        <section class="question">
          <div class="timeline">
            <div class="base-line">
                <div class="marker">
                  <span id="markerCounter">x/10</span>
                </div>
                <div class="prog-line"></div>
            </div>
          </div>
          <div class="info" id="questionView">
            
          </div>
        </section>
        
        <section class="answers">
          <div class="buttons">
              <button data-answer="1" class="button answer answerBtns">Yes</button>
              <button data-answer="0" class="button answer answerBtns">No</button>
          </div>
          
          <div class="next">
            <h1 id="answerLabel" class="answer-label">Yes</h1>
            <button id="nextBtn" class="button coloured">Next &#x279D;</button>
          </div>
          
          <div id="slider" class="slide-answer">
              <h2 id="no">No</h2>
              
              <div class="trail">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
              
              <div id="sliderGrab" class="slider">
                <span>< ></span>
              </div>
              
              <div class="trail">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
              
              <h2 id="yes">Yes</h2>
          </div>
          
        </section>
      
        <!-- <section class="results">
          <div class="outcome">
              <h4>Afford | <span>Results</span></h4>
              <div class="hero">
                  <img src="img/art/seeker.svg"></img>
                  <h1 class="outcome-label">
                    You are<br> a Seeker.
                  </h1>
              </div>
              <div class="share">
                <h3 class="coloured">Share Results</h3>
                <button class="button text">Facebook</button>
                <span>/</span>
                <button class="button text">Twitter</button>
              </div>
              
              
          </div>
          <div class="info-container">
            <div class="info">
              <h3 class="spaced">What does this mean?</h3>
              <p>As a <span>Seeker</span> when it comes to affordability you envision change and your main motivator is to empower the people around you.</p> 
              <h3 class="spaced">Explore</h3>
              <p>Boost is a project that unlocks value in people, in order to create continuism aligment between workers and their jobs and make work meaningful in the face of future worker displacement.</p>
              <img class="projectSelect" src="img/temp.jpeg" alt="temporary">
              
              <button type="button" class="button">Go Again</button>
            </div>
          </div>
          
        </section> -->
        
    </main>
    
    <script src="js/main.js" charset="utf-8"></script>
  </body>
</html>
