@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700|Poppins:500');

:root {
    --colour-black: black;
    --colour-white: white;
    
    /* dynamic colours */
    --colour-body: white;
    --colour-text: black;
    --colour-text-invert: white;
    --colour-main: var(--colour-lime);
    --colour-secondary: var(--colour-navy);
    
    --colour-magenta: #D8208E;
    --colour-pink: #F6B4D1;
    --colour-orange: #F75021;
    --colour-navy: #1A3D7B;
    --colour-lime: #CFE224;
    --colour-forest: #406920;
    --colour-green: #D6EA94;
    
    --heading: "Graphik", "Avenir", sans-serif;
    --subheading: "Roboto Slab", "Rockwell", serif;
    --content: "Graphik", "Helvetica", sans-serif;
    
    --bold: 800;
    --semi-bold: 500;
    --regular: 400;

    --linespace: 1.5;
    --padding: 3em;
    --toppadding: 2em;
    
    --topbar-height: 4em;
    
    --max-width: 70rem;
    
    --shadow: 0 0 10px 1px rgba(0,0,0,0.3);
    
    --round: 100%;
    
    /* timeline pos */
    --time-pos: 100%;
    --timeline-transition: 0.5s ease;
    
    /* z-index */
    --z-cursor: 1000;
    --z-topbar: 100;
    --z-sidebar: 101;
    --z-propop: 102;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

::selection {
    background-color: var(--colour-black);
    color: var(--colour-white);
}

html {
    font: var(--regular) 1em/var(--linespace) var(--content);
    font-family: "Graphik Regular", sans-serif;
    color: var(--colour-text);
    height: 100%;
}

p {
    font: var(--regular) 1.2em/var(--linespace) var(--content);
    font-family: "Graphik Regular", sans-serif;
    margin-bottom: 1em;
}

p span {
    font: var(--bold) 1em/var(--linespace) var(--content);
    font-family: "Graphik Bold", sans-serif;
}

h1 {
    font: var(--bold) 2em/1.3 var(--heading);
    font-family: "Graphik Bold", sans-serif;
    /* word-break: break-all; */
    color: var(--colour-text);
}

h2 {
    font: var(--bold) 1.625em/1.3 var(--heading);
    font-family: "Graphik Bold", sans-serif;
}
h3 {
    font: var(--bold) 1.125em/var(--linespace) var(--heading);
    font-family: "Graphik Bold", sans-serif;
    color: var(--colour-text);
    margin-bottom: 0.5em;
}
h3.spaced {
    margin-bottom: 1em;
}
h3.coloured {
    color: var(--colour-main);
}
h4 {
    font: var(--bold) 1em/var(--linespace) var(--subheading);
    font-family: "Graphik Bold", sans-serif;
    color: var(--colour-text);
}
h4 span {
    font: var(--regular) 0.9em/var(--linespace) var(--subheading);
    font-family: "Graphik Regular", sans-serif;
}

h6 {
    font: 700 0.8em/var(--linespace) var(--subheading);
    font-family: "Graphik Bold", sans-serif;
}

body {
    /* background-color: var(--colour-blue); */
    height: calc(100% - var(--topbar-height));
}

/* ________________TOPBAR__________________ */

nav.topbar {
    position: fixed;
    z-index: var(--z-topbar);
    width: 100%;
    height: var(--topbar-height);
    background-color: var(--colour-white);
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    padding: 0 3em;
    top: 0;
}
nav.topbar svg polygon {
    pointer-events: none;
}
nav.topbar.light {
    background-color: var(--colour-main);
    --colour-text: var(--colour-secondary);
}
nav.topbar.light svg {
    fill: var(--colour-secondary);
}
.topbar .logo, .sidebar .logo {
    justify-self: left;
    width: 2.5em;
    transition: 0.3s ease;
    display: block;
    cursor: pointer;
}
.logo.invert {
    filter: invert(1);
}
.topbar .logo:hover, .sidebar .logo:hover {
    opacity: 0.8;
    transform: rotate(-5deg);
}
.topbar .exhb-info {
    justify-self: right;
}
.topbar .exhb-info h2.label {
    cursor: help;
    font-size: 1em;
    color: var(--colour-text);
    line-height: 1;
}
.topbar.light .exhb-info h2.label {
    --colour-text: var(--colour-white);
}
.topbar .exhb-info:hover .pop-box {
    display: none;
}

.topbar .exhb-info h2.label:hover {
    text-decoration: underline;
}

.topbar .exhb-info .pop-box, .exhb-pop {
    position: absolute;
    background-color: white;
    padding: 3em;
    display: none;
    transition: 0.3s ease;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.exhb-pop {
    position: fixed;
}
.exhb-pop.active {
    display: block;
    z-index: var(--z-propop);
}

/* ________________SIDEBAR__________________ */

.sidebar {
    
    --colour-text: var(--colour-white);
    
    position: fixed;
    z-index: var(--z-sidebar);
    bottom: 0;
    top: 0;
    left: -100vw;
    width: 100vw;
    background-color: #111214;
    padding: var(--padding);
    color: var(--colour-text);
    transition: 0.3s ease;
    overflow-y: auto;
}
.sidebar.active {
    left: 0;
}
.sidebar .logo {
    margin-bottom: 3em;
}
.sidebar .inner-sidebar ul.options {
    list-style: none;
    margin-top: 1em;
}
.sidebar h6 {
    margin-top: 2em;
}
.sidebar .options li {
    font-size: 1.6em;
    font-weight: 800;
    font-family: "Graphik Bold", sans-serif;;
    margin: 0.5em 0;
    cursor: pointer;
    line-height: 1;
}
.sidebar .options li span {
    display: inline-block;
    border-bottom: solid 0.15em transparent;
}
.sidebar .options li:hover span {
    border-bottom-color: var(--colour-text);
}
.sidebar a {
    text-decoration: none;
    color: var(--colour-text);
}

/* ________________LAYOUTS__________________ */

main {
    margin-top: var(--topbar-height);
    width: 100%;
    
}
main.landing {
    --colour-body: var(--colour-main);
    background-color: var(--colour-body);
}
main .inner-landing {
    display: grid;
    align-items: center;
    grid-template-rows: auto min-content;
    min-height: calc(100vh - var(--topbar-height));
    max-width: var(--max-width);
    margin: 0 auto;
}
.landing section, .landing footer {
    width: 100%;
    padding: var(--toppadding) var(--padding);
}
.landing .hero {
    color: var(--colour-text);
    width: 100%;
    margin: 0 auto;
    padding-bottom: 7em;
}
.landing .hero h1 {
    font-size: 10vw;
    color: var(--colour-secondary);
}
.landing .hero .start-quiz {
    margin-top: 2em;
    --colour-text: var(--colour-white);
}
.landing .hero .start-quiz p {
    margin: 0;
}
.landing .hero button.square {
    display: none;
}
.landing .hero button.large {
    display: block;
}
.landing .hero button.text {
    margin-left: 1.1em;
    margin-top: 0.6em;
}
.landing .hero img {
    width: 100%;
    display: block;
    margin-top: 2em;
}
.landing .hero .bottom-cut {
    position: fixed;
    width: 90vw;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    z-index: -1;
}

.landing .gallery {
    width: 100vw;
    overflow-x: auto; 
    max-width: var(--max-width);
}
.landing .gallery .inner-gallery {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: calc(var(--max-width) - calc( var(--padding) * 2 ));
    max-width: 100em;
}
.landing .gallery .module {
    width: 100%;
    padding-top: 15%;
    background-color: white;
    margin-right: var(--padding);
}
.landing .gallery .module:last-child {
    margin: 0;
}

.landing .title-header {
    padding: var(--padding);
    padding-bottom: 0;
}
.landing .title-header h1 {
    margin-bottom: 0.5em;
}
.landing .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.5em auto;
    grid-row-gap: 2em;
    margin: 0 auto;
    overflow-x: auto;
    width: 100vw;
    padding-right: 0;
}
.landing .projects .length-indicator {
    background-color: var(--colour-magenta);
    width: calc(100% - 3em);
    height: 100%;
    grid-column: span 3;
}
.landing .projects .project { 
    width: 100%;
    height: auto;
    /* background-color: lightgrey; */
    min-width: 20em;
    padding-right: 3em;
}
/* .landing .projects .project:first-child {
    padding-left: 3em;
}
.landing .projects .project:last-child {
    padding-right: 3em;
} */
.landing .projects .project div {
    display: grid;
    grid-template-columns: auto min-content;
    margin-bottom: 2em;
}
.landing .projects .project img {
    width: 100%;
    display: block;
}

.landing .more-info, .landing .title-header, .landing .hero {
    margin: 0 auto;
}
.landing .more-info button.button.text {
    margin-bottom: 2em;
}
.landing .more-info h1 {
    margin-bottom: 0.5em;
}

.landing footer {
    background-color: #efefef;
    display: grid;
    grid-template-columns: min-content 1fr;
}

.landing footer .logo {
    width: 5em;
    align-self: center;
    margin-right: var(--padding);
}

main.quiz {
    display: grid;
    width: 100%;
    height: 100%;
    background-color: var(--colour-body);
    overflow: auto;
    grid-template-rows: minmax(0, 1fr) min-content;
    /* transition: background-color 0.7s ease; */
}
main.quiz section {
    padding: var(--toppadding) var(--padding);
    /* transition: background-color 0.7s ease; */
}
.quiz .question {
    width: 100%;
    /* height: calc(100vh - var(--topbar-height)); */
    /* height: calc(100vh - 8em); */
    display: grid;
    grid-template-rows: min-content minmax(0, auto);
    /* overflow: auto; */
    padding-bottom: 6em;
    padding-bottom: 0;
}
.quiz .answers {
    width: 100%;
    height: auto;
    /* position: fixed; */
    /* bottom: 0; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    background-color: var(--colour-body);
    justify-self: right;
}
.quiz .answers .buttons {
    display: none;
}
.quiz .answers .next {
   display: grid;
   grid-template-columns: 1fr 1fr; 
}

.quiz .results {
    color: var(--colour-text);
}

/* ___________________INPUTS_____________________ */

button.button {
    border: solid 3px var(--colour-text);
    border-radius: 0;
    padding: 0.5em 1em;
    background-color: transparent;
    color: var(--colour-text);
    font-size: 1em;
    font-weight: var(--bold);
    font-family: "Graphik Bold", sans-serif;;
    transition: transform 0.3s ease, color 0.3s ease, height 0.3s ease;
    outline: none;
    cursor: pointer;
}

button.button:hover {
    background-color: var(--colour-text);
    color: var(--colour-black);
}

a {
    text-decoration: none;
}

.landing .project button.button:hover {
    background-color: var(--colour-text);
    color: var(--colour-text-invert);
}
.next button.button {
    max-width: 10em;
}

button.button.invert {
    background-color: var(--colour-text);
    color: var(--colour-text-invert);
}
button.button.invert:hover {
    background-color: transparent;
    color: var(--colour-text);
}

button.button.large {
    font-size: 1.5em;
}
button.button.large span.arrow {
    font-size: 2.5em;
}

button.button.text {
    border: none;
    color: var(--colour-text);
    padding: 0;
}
button.button.text:hover {
    color: var(--colour-text);
    background-color: transparent;
    text-decoration: underline;
}

button.button.coloured {
    background-color: var(--colour-secondary);
    border-color: var(--colour-secondary);
}

button.button.square {
    width: 5em;
    height: 5em;
    background-color: var(--colour-secondary);
    --colour-text: var(--colour-white);
    color: var(--colour-text);
    font-size: 3.5em;
    border: none;
    padding: 1em;
}
button.button.square:hover {
    filter: brightness(1.2);
}

.quiz.stage-answer button.answer:hover {
    background-color: transparent;
    color: var(--colour-white);
    cursor: default;
}

/* ________________PROJECT POP__________________ */

.project-pop {
    --colour-text: var(--colour-black);
    --colour-text-invert: var(--colour-white);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: var(--z-propop);
    top:0;
    left:0;
    background-color: var(--colour-white);
    color: var(--colour-text);
    padding: var(--padding);
    overflow: auto;
    
    /* display: none; */
    transform: scale(0);
    pointer-events: none;
    transition: 0.3s ease;
    opacity: 0;
}
.project-pop {
    --mel-yellow: #F8CE0A;
    --mel-d-yellow: "Detached Houses";
    --mel-grey: #E5E5E5;
    --mel-d-grey: "Street";
    --mel-orange: #FF5C00;
    --mel-d-orange: "Triplex, townhouses, and mid-rise";
    --mel-green: #ADDA48;
    --mel-d-green: "Open space";
    --mel-purple: #7167AE;
    --mel-d-purple: "Multi-purpose buildings";
    --mel-pink: #F8284C;
    --mel-d-pink: "Education institutions";
    
    --boost-bg: #0B0818;
    --boost-red: #FF1504;
    
    --mel-blue: #15206D;
}
.project-pop.active {
    display: block;
    transform: scale(1);
    pointer-events: all;
    opacity: 1;
}
.project-pop .close {
    position: fixed;
    top: calc(var(--padding) / 2);
    right: calc(var(--padding) / 2);
    cursor: pointer;
}
.project-pop .close span, #closeExhb {
    font-family: "helvetica", sans-serif;
    font-size: 3em;
    font-weight: 300;
    user-select: none;
    -moz-user-select: none;
    line-height: 0.6;
    pointer-events: none;
    cursor: pointer;
}

.project-pop.meliorise {
    background-color: var(--mel-blue);
    --colour-text: var(--colour-white);
    --colour-text-invert: var(--colour-black);
}
.project-pop.boost {
    background-color: var(--boost-bg);
    --colour-text: var(--colour-white);
    --colour-text-invert: var(--colour-black);
}
.project-pop.boost ::selection {
    background-color: var(--boost-red);
}
.project-pop.boost .gallery img {
    margin: 0;
}

.project-pop.exhb {
    background-color: var(--colour-lime);
    --colour-text: var(--colour-white);
    --colour-text-invert: var(--colour-black);
    --colour-secondary: var(--colour-navy);
}
.project-pop.exhb .out-link {
    margin-top: 1em;
    position: absolute;
}
.project-pop.exhb .out-link button {
    height: 4em;
}

.project-pop .content {
    max-width: 50em;
    width: 100%;
    margin: 0 auto;
    padding-bottom: var(--padding);
}
.project-pop .content .desc {
    white-space: pre-line;
}
.project-pop h2 {
    margin: 1em 0;
}
.project-pop .content .local-nav {
    display: grid;
    grid-template-rows: repeat(2, auto);
    margin-bottom: 1em;
}
.project-pop .content .local-nav .download {
    align-self: center;
}

.project-pop .content img.logo {
    width: 10em
}
.project-pop .content img {
    display: block;
    padding: 2em 0;
}
.project-pop .gallery img {
    margin: 0 -3em;
}

/* ________________QUESTION STYLING__________________ */

.quiz .question .info {
    overflow: auto;
    height: 100%;
    margin-right: -1.5em;
    padding-right: 1.5em;
    padding-bottom: 0;
}
.quiz .question .info h2 {
    /* transition: font-size 0.5s ease; */
    margin-bottom: 1em;
}

.quiz.stage-answer {
    /* --colour-main: var(--colour-magenta);*/
    --colour-body: var(--colour-main); 
    --colour-text: var(--colour-white);
    
    /* --colour-secondary: var(--colour-lime); */
}

.quiz.stage-question .question .info h2 {
    color: var(--colour-text);
}
.quiz.stage-question .question .info p.insight, .quiz.stage-question .question .info h3.insight-label {
    display: none;
}
.quiz.stage-question .answers .next {
    display: none;
}
.quiz.stage-answer .info {
    max-width: 50em;
}
.quiz.stage-answer .info h2 {
    color: var(--colour-secondary);
    font-size: 2em;
    font-weight: var(--bold);
    font-family: "Graphik Bold", sans-serif;;
}
.quiz.stage-answer .info p {
    font-weight: var(--bold);
    font-family: "Graphik Bold", sans-serif;;
}
.quiz.stage-answer .info p.insight {
    color: var(--colour-secondary);
    line-height: 1.3;
    margin: 0;
    font-size: 1.8em;
}
.quiz.stage-answer .info h3.insight-label {
    color: var(--colour-secondary);
}
.quiz.stage-answer .info .scenario {
    display: none;
}
.quiz.stage-answer .answers .next {
    display: grid;
}

.quiz.stage-answer .answers .slide-answer {
    display: none;
}

/* ________________RESULTS STYLING__________________ */

main.final {
  padding: var(--toppadding) var(--padding);
  padding-bottom: 0;
}

.final .results .outcome .hero {
    position: relative;
    margin: 2em 0;
}
.final .results .outcome .hero img {
    width: 80%;
    margin-left: calc(var(--padding) * -2 );
    transform: rotate(-8deg);
}
.final .results .outcome .hero img.share-none {
    opacity: 0.5;
}
.final .results .outcome .hero h1.outcome-label {
    font-size: 12vw;
    position: absolute;
    top: 50%;
    transform: translateY(-25%);
    z-index: 1;
    line-height: 1.2;
    padding-left: 13vw;
}
.final .results .outcome .hero h1.outcome-label span {
    text-transform: capitalize;
}
.final .results .info-container {
    --colour-text: var(--colour-white);
    color: var(--colour-text);
}
.final .results .info-container button.projectSelect {
    margin-bottom: 6em;
}
.final .results .info {
    --colour-text-invert: var(--colour-black);
    background-color: var(--colour-main);
    padding: 2em;
    margin-top: 2em;
    margin-right: calc(var(--padding) * -1);
    margin-left: calc(var(--padding) / -2);
    /* width: calc(100vw - calc(var(--padding) / 2)); */
    position: relative;
}
.final .results .info img {
    width: 100%;
    margin: 1em 0;
}
.final .results .info .try-again {
    position: absolute;
    bottom: 0;
    width: 65%;
    min-width: 6em;
    height: 6em;
    background-color: var(--colour-secondary);
    display: grid;
    align-items: center;
    justify-items: center;
}

.share span {
    font-weight: var(--bold);
    font-family: "Graphik Bold", sans-serif;
}

/* ________________TIMELINE__________________ */

.question .timeline {
    margin: 1em 0 2em 0;
}

.timeline .base-line {
    height: 3px;
    width: 100%;
    background-color: var(--colour-text);
    position: relative;
}
.timeline .base-line .prog-line {
    height: 0.6em;
    width: var(--time-pos);
    position: absolute;
    background-color: var(--colour-secondary);
    z-index: 1;
    transform: translateY(-50%);
    transition: var(--timeline-transition);
    top: 2px;
}
.timeline .base-line .marker {
    background-color: var(--colour-black);
    color: var(--colour-white);
    font-size: 0.9em;
    font-weight: var(--bold);
    font-family: "Graphik Bold", sans-serif;
    padding: 0.2em 0.5em;
    display: inline-block;
    position: absolute;
    left: var(--time-pos);
    /* recreates elem every time so no anim the time */
    z-index: 2;
    transform: translateY(-50%) translateX(-50%);
    top: 2px;
    transition: var(--timeline-transition);
}

/* ________________SHARE TYPES STYLES__________________ */
.outer-outcomes {
    display: grid;
    align-items: center;
    height: 100%;
}
main.share-outcomes.final {
    display: grid;
    --colour-secondary: var(--colour-lime);
    margin-top: 0;
    padding-top: 0;
}
.share-outcomes.final .results .outcome {
    flex-basis: unset;
}
.share-outcomes.final .results {
    display: block;
}
.new .out h1 {
    display: inline-block;
}
.new {
    display: grid;
    align-items: center;
    justify-items: center;
    margin-top: 2em;
}
.new .out {
    text-align: center;
}

/* ________________SLIDER STYLES__________________ */

.slide-answer {
    display: grid;
    grid-template-columns: repeat(5, auto);
    /* grid-gap: 1em; */
    align-items: center;
    width: 100%;
    justify-items: center;
    max-width: 20em;
    margin: 0 auto;
}
.slide-answer.dark {
    --colour-text: black;
}

.slide-answer > * {
    overflow: hidden;
}

.slide-answer h2 {
    width: 2em;
    height: 2em;
    text-align: center;
    font-size: 1.5em;
    border: solid 2px transparent;
    border-radius: var(--round);
    transition: border 0.3s ease;
    padding: 0.3em;
    max-width: 23vw;
    transition: 0.3s ease;
    color: var(--colour-text);
    user-select: none;
    -moz-user-select: none;
    overflow: visible;
}
.slide-answer h2.selected {
    border: solid 2px var(--colour-text);
}

.slide-answer .trail {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.4em;
    max-width: 18vw;
}
.slide-answer .trail div {
    width: 0.3em;
    height: 0.3em;
    background-color: var(--colour-text);
    opacity: 0.3;
    border-radius: var(--round);
}

.slide-answer .slider {
    width: 2.6em;
    height: 2.6em;
    background-color: var(--colour-text);;
    border-radius: var(--round);
    display: grid;
    transition: transform 0.3s ease;
    position: relative;
    left: 0px;
    max-width: 18vw;
    cursor: col-resize;
    z-index: 1;
}
.slide-answer .slider:hover {
    transform: scale(1.1);
}
.slide-answer .slider span {
    color: var(--colour-white);
    font-family: "Poppins", sans-serif;;
    font-weight: var(--regular);
    align-self: center;
    justify-self: center;
    font-size: 1.4em;
    user-select: none;
    -moz-user-select: none;
    pointer-events: none;
}

@media screen and (max-width: 26em) {
    .quiz.stage-answer .info p.insight {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 48em) {
    
    :root {
        --padding: 3em;
    }
    
    /* ________________SIDEBAR__________________ */

    .sidebar {
        width: 24em;
        left: -24em;
    }
    
    .quiz .info::-webkit-scrollbar {
        width: 0.4em;
    }
    .quiz .info::-webkit-scrollbar-track {
        display: none;
    }
    .quiz .info::-webkit-scrollbar-thumb {
        background-color: var(--colour-secondary);
        border: 1px solid rgba(255,255,255,0.2);
        border-radius: 1em;
    }
    .quiz .info::-webkit-scrollbar-thumb:hover {
        border: 1px solid rgba(255,255,255,0.6);
    }
    .quiz .info {
        scrollbar-color: var(--colour-secondary) transparent;
    }
    
    
    h1, h2 {
        font-size: 2em;
    }
    
    button.button.coloured {
        font-size: 1.5em;
    }
    
    .project-pop .close {
        top: var(--padding);
        left: var(--padding);
        right: unset;
    }
    .project-pop .content .local-nav {
        display: grid;
        grid-template-rows: unset;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 0;
    }
    .project-pop .content .local-nav div {
        padding: 0;
        padding-top: 2em;
    }
    .project-pop .content .local-nav .download {
        justify-self: right;
    }
    
    .topbar .exhb-info:hover .pop-box {
        display: block;
    }
    
    .landing .hero {
        display: grid;
        height: 100%;
        grid-gap: var(--padding);
        grid-template-columns: auto auto;
        align-items: center;
        padding-bottom: var(--padding);
    }
    
    .landing .hero .tagline {
        display: block;
    }
    .landing .hero .bottom-cut {
        width: 40vw;
        max-width: 46em;
        min-width: 30em;
    }
    .landing .hero h1 {
        font-size: 6vw;
    }
    .landing .hero img {
        margin-top: 4em;
    }
    .landing .hero button.square {
        display: block;
    }
    .landing .hero button.large {
        display: none;
    }
    
    main.quiz {
        grid-template-columns: auto auto;
        grid-template-rows: unset;
    }
    
    .quiz .question {
        grid-template-rows: minmax(0, 1fr) min-content;
        height: calc(100vh - var(--topbar-height));
        padding: 0;
    }
    .quiz .question .info {
        padding: var(--padding);
        padding-right: calc(var(--padding) / 2);
        margin-right: 1.5em;
        max-width: 50em;
        padding-bottom: 0;
    }
    .quiz .question .timeline {
        grid-row: 2;
        padding: var(--padding);
        margin: 0.5em 0;
    }
    
    .quiz .answers {
        position: static;
        max-width: 25em;
        width: 45vh;
        bottom: unset;
        left: unset;
        transform: unset;
        padding-left: 0;
        overflow: visible;
        overflow-y: hidden;
    }
    .quiz .answers .buttons {
        display: block;
        height: 100%;
    }
    .quiz .answers .buttons :first-child {
        margin-bottom: 0.3em;
    }
    .quiz .answers .buttons button.answer {
        font-size: 7em;
        height: calc(50% - 0.15em);
        width: 100%;
        padding: 0;
        display: grid;
        justify-items: center;
        align-items: center;
        transform-origin: left;
    }
    .quiz .answers .slide-answer {
        display: none;
    }
    
    .quiz.stage-question {
        /* --colour-main: var(--colour-magenta);
        --colour-secondary: var(--colour-lime); */
    }
    
    .quiz.stage-question button.answer {
        color: var(--colour-white);
        border: none;
    }
    .quiz.stage-question button.answer:first-child {
        background-color: var(--colour-main);
    }
    .quiz.stage-question button.answer:last-child {
        background-color: var(--colour-secondary);
    }
    .quiz.stage-question button.answer:hover {
        color: var(--colour-white);
        text-decoration: underline;
        transform: scale(1.04);
    }
    
    .quiz.stage-answer .answers .buttons button.answer {
        height: 100%;
    }
    .quiz.stage-answer .answers .buttons {
        height: 50%;
    }
    .quiz.stage-answer .answers .next {
        grid-template-columns: unset;
        justify-items: center;
    }
    .quiz.stage-answer .answers .next .answer-label {
        display: none;
    }
    .quiz.stage-answer .answers .buttons button {
        display: none;
    }
    .quiz.stage-answer .answers .buttons button.selected {
        border: none;
        display: inline-block;
    }
    .quiz.stage-answer .info h2 {
        font-size: 2.4em;
    }
    
    .final .results {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .final .results .outcome {
        flex-basis: 50%;
    }
    .final .results .outcome .hero h1.outcome-label {
        padding-left: 1.3em;
        font-size: 7vw;
    }
    .final .results .outcome .hero img {
        max-width: 25em;
    }
    .final .results .info-container {
        width: 100%;
        height: calc(100vh - var(--topbar-height));
        overflow-y: auto;
        flex-basis: 50%;
        margin-top: calc(var(--toppadding) * -1);
        margin-bottom: calc(var(--toppadding) * -1);
        padding-top: var(--padding);
        display: grid;
    }
    .final .results .info {
        width: auto;
        margin: 0;
        padding: var(--padding);
        max-width: 35em;
        justify-self: center;
    }
    
    /* ________________SHARE TYPES STYLES__________________ */

    .share-outcomes {
        grid-template-columns: 1fr 1fr;
        --colour-secondary: var(--colour-lime);
    }
    .new {
        margin-top: 0;
    }
    .new .out h1 {
        margin-right: 1em;
    }
    
    
    .topbar .exhb-info {
        position: relative;
    }
    .topbar .exhb-info .pop-box {
        position: absolute;
        background-color: var(--colour-secondary);
        color: var(--colour-white);
        padding: 3em;
        display: none;
        transition: 0.3s ease;
        right: 0;
        left: unset;
        height: unset;
        width: auto;
        cursor: help;
        min-width: 30em;
    }
    .topbar .exhb-info .pop-box p, .topbar .exhb-info .pop-box h4, .topbar .exhb-info .pop-box h3, .topbar .exhb-info .pop-box h1 {
        cursor: auto;
        color: var(--colour-white);
    }
    .topbar .exhb-info .pop-box #closeExhb {
        display: none;
    }
}

@media screen and (min-width: 70em) {
    
    p {
        font-size: 1.3em;
    }
    
    button.button.square {
        width: 6em;
        height: 6em;
    }
    
    .landing .hero h1 {
        font-size: 4em;
    }
    
    .quiz .question .info {
        max-width: 70em;
        padding-bottom: 0;
    }
    .quiz.stage-question .info h2 {
        font-size: 2.5em;
    }
    .quiz .question .info p.insight {
        font-size: 2.5em;
    }
    
    .final .results .outcome .hero img {
        width: 80%;
        margin-left: calc(var(--padding) / -2);
        transform: rotate(-8deg);
    }
    .final .results .outcome .hero h1.outcome-label {
        padding-left: 2em;
        font-size: 6vw;
    }
}

